.gradientCard {
  border-radius: 12px;
  background: linear-gradient(135deg, #2c182f 0%, #05033a 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease;
  padding: 25px 20px;
  position: relative;

  .svgWrapper {
    position: absolute;
    top: -40px;
    left: 10px;
    z-index: 0;
    pointer-events: none;
    width: 60px;
    height: 60px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    background: linear-gradient(135deg, #432547 0%, #1f0863 100%);
    transform: scale(1.05);
  }

  .textArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .textContent {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .text {
      font-family: 'Netflix Sans', sans-serif;
      font-size: 18px;
      margin: 0 0 4px 0;
    }

    .infoCard {
      font-family: 'Netflix Sans', sans-serif;
      margin: 0 0 10px 0;
      letter-spacing: 0.5px;
      font-size: 15px;
    }

    .button {
      color: #fff;
      font-family: 'Netflix Sans', sans-serif;
      font-size: 15px;
      font-weight: 600;
      background-color: rgba(109, 103, 121, 0.524);
      padding: 10px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      white-space: nowrap;
      flex-shrink: 0;

      &:hover {
        background-color: rgba(109, 103, 121, 0.351);
      }
    }
  }
}

@media (min-width: 600px) {
  .gradientCard {
    margin-left: 100px;
    margin-right: auto;
    padding: 10px 20px;

    .svgWrapper {
      top: -15px;
      left: -90px;
      width: 80px;
      height: 80px;
    }

    .textArea {
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: 807px) {
  .gradientCard {
    max-width: 80%;
    .textArea {
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      gap: 100px; 
    }
  }
}
